body {
  font-family: "Comic Sans MS", papyrus, sans-serif;
  background: url('images/background.jpg');
  text-align: center;
}

.wrap {
  padding: 20px;
}

img {
  max-width: 100%;
}

p {
  color: blue;
  background: red;
  font-size: 30px;
}

h1, h2 {

    color: red;
    background: blue;
}

h1 {
  text-decoration: underline;
  font-size: 40px;
}

h2 {
  font-size: 35px;
}
